# General
HELP.md
.DS_Store
*.log
*.local

# Spring Boot (BackEnd)
BackEnd/target/
BackEnd/build/
BackEnd/.mvn/
!BackEnd/.mvn/wrapper/maven-wrapper.jar
BackEnd/.apt_generated
BackEnd/.classpath
BackEnd/.factorypath
BackEnd/.project
BackEnd/.settings
BackEnd/.springBeans
BackEnd/.sts4-cache
BackEnd/.idea/
BackEnd/*.iws
BackEnd/*.iml
BackEnd/*.ipr
BackEnd/nbproject/private/
BackEnd/nbbuild/
BackEnd/dist/
BackEnd/nbdist/
BackEnd/.nb-gradle/
BackEnd/src/main/resources/application.properties
BackEnd/src/main/resources/application*.yml
BackEnd/src/main/resources/logback*.xml

# Vue.js (FrontEnd)
FrontEnd/node_modules/
FrontEnd/dist/
FrontEnd/dist-ssr/
FrontEnd/coverage/
FrontEnd/cypress/videos/
FrontEnd/cypress/screenshots/
FrontEnd/.vercel/
FrontEnd/public/themes/soho-light/
FrontEnd/public/themes/soho-dark/
FrontEnd/public/themes/viva-light/
FrontEnd/public/themes/viva-dark/
FrontEnd/public/themes/mira/
FrontEnd/public/themes/nano/
FrontEnd/*.env

# IDE
.vscode/
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*